.benefits {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    @media screen and (max-width:576px) {
        display: block;
    }

    &__item {
        display: flex;
        flex-wrap: nowrap;
        @media screen and (max-width:576px) { 
            margin-bottom: 30px;
        }
    }

    &__icon {
        margin-right: 30px;
        background-color: #c2d8fe;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        flex-shrink: 0;
        position: relative;
    }

    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__desc {
        padding-right: 30px;
    }

    &__title {
        font-weight: $font-weight-semibold;
        font-size: $font-size-lg-l;
        line-height: 1.5;
        text-transform: capitalize;
        color: $dark-blue;
    }

    &__text {
        font-weight: $font-weight-light;
        font-size: $font-size-sm-l;
        line-height: 2;
        text-transform: capitalize;
        color: $dark;
    }
}
