
.header {
    padding: 12px 0;
    background-color: $background-color;
   
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;    
    }

    &__logo {
        &-link{  
            font-weight: $font-weight-extrabold;
            font-size: 24px;
            line-height: 1.5;
            color: $white;
        }
    }
}

