
.header {
    padding: 12px 0;
    background-color: $dark-blue; 
   
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }

    &__navigation {
        margin: 15px;
    }

    &__logo {
        &-link{  
            font-weight: $font-weight-extrabold;
            font-size: $font-size-lg;
            line-height: 1.5;
            color: $white;
        }
    }
}

