.main {
    &__welcome-club {
        margin-bottom: 62px;
    }

    &__programs-workouts {
        margin-bottom: 138px;
    }

    &__nutritions {
        margin-bottom: 110px;
    }

    &__pricing {
        margin-bottom: 200px;
    }

    &__about {
        margin-bottom: 200px;
    }

    &__training-participants {
        margin-bottom: 100px;
    }
}
