.nutritions {
    &__container {
        display: flex;
        align-items: center;
        @media screen and (max-width:992px) {
            flex-direction: column;
        }
    }

    &__content {
        width: 40%;
        @media screen and (max-width:992px) {
            width: 80%;
            text-align: center;
        }
    }

    &__images {
        width: calc(60% - 60px);
        margin-right: 60px;
        min-height: 485px;
        background-image: url("../images/content/Nutritions.png");
        background-repeat: no-repeat;
        @media screen and (max-width:992px) {
            width: 100%;
            background-position: center;
            margin: 0 0 35px;
        }
        @media screen and (max-width:576px) {
            background-size: contain;
            margin: 0;
        }
    }

    &__title {
        margin-bottom: 10px;
    }

    &__subtitle {
        text-transform: capitalize;
        color: $dark-blue;
        margin-bottom: 10px;
        @media screen and (max-width:576px) {
            font-size: $font-size-l;
        }
    }

    &__desc {
        font-weight: $font-weight-light;
        font-size: $font-size-sm-l;
        line-height: 2;
        text-transform: capitalize;
        color: $dark;
        margin-bottom: 30px;
    }
}
