.programs-workouts {
    
    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    &__col {
        width: 33.3%;
        padding: 0 15px;
    }

    &__title {
        text-align: center;
        color: $dark-gray;
        margin-bottom: 10px;
        font-weight: $font-weight-medium;
    }
    &__subtitle {
        margin: 0 auto;
        width: 60%;
        font-weight: $font-weight-semibold;
        font-size: $font-size-xl;
        line-height: 1.5;
        text-align: center;
        text-transform: capitalize;
        color: $dark;
        margin-bottom: 30px;
    }

    .card {

        &__img {
            transform: translateX(-23px);
            height: 100%;
        }

        &__title {
            font-weight: $font-weight-medium;
            font-size: $font-size-l;
            line-height: 1.5;
            color: $dark;
        }

        &__subtitle {
            font-weight: $font-weight-regular;
            font-size: $font-size-md;
            line-height: 1.8;
            color: $dark;
            margin-bottom: 10px;
        }
        
        &__desc {
            font-weight: $font-weight-light;
            font-size: $font-size-sm;
            line-height: 1.8;
            color: $Very-dark-gray;
            margin-bottom: 20px;
        }

        &__link {
            color: $programs-color-link;
            &__vector {
                margin-left: 15px;
            }
        }
    }
}
