.programs-workouts {

    &__container {
        width: 90%;
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 15px;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: -15px 0;
        @media screen and (max-width:992px) {
            width: 100%;
        }
    }

    &__col {
        width: 33.3%;
        padding: 0 15px;
        @media screen and (max-width:576px) {
            margin-bottom: 50px;
        }
    }

    &__title {
        text-align: center;
        color: $dark-gray;
        margin-bottom: 10px;
        font-weight: $font-weight-medium;
    }
    &__subtitle {
        margin: 0 auto;
        width: 60%;
        text-align: center;
        text-transform: capitalize;
        color: $dark;
        margin-bottom: 30px;
        @media screen and (max-width:576px) {
            width: 100%;
            margin-bottom: 50px;
            font-size: $font-size-l;
        }
    }
 
}
.card {
        @media screen and (max-width:992px) {
            text-align: center;
        }

    &__img {
        margin-bottom: 20px;
        @media screen and (max-width:992px) {
            margin: 0 auto 20px;
        }
    }

    &__title {
        font-weight: $font-weight-medium;
        font-size: $font-size-l;
        line-height: 1.5;
        color: $dark;
    }

    &__subtitle {
        font-weight: $font-weight-regular;
        font-size: $font-size-md;
        line-height: 1.8;
        color: $dark;
        margin-bottom: 10px;
    }

    &__desc {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        font-weight: $font-weight-light;
        font-size: $font-size-sm;
        line-height: 1.8;
        color: $Very-dark-gray;
        width: 60%;
        margin-bottom: 20px;
        @media screen and (max-width:992px) {
            width: 80%;  
            margin: 0 auto 20px;      
        }
    }

    &__link {
        color: $programs-color-link;
    }

    .arrow {
        margin-left: 15px;
    }
}
