.welcome-club {
    background-color: $dark-blue;
    padding: 55px 0 50px;

    &__line {
        &:nth-child(1) {
            width: 80%;
            display: inline-block;
        }
        &:nth-child(2) {
            width: 80%;
            display: inline-block;
        }
        &:nth-child(3) {
            width: 50%;
            display: inline-block;
        }
    }

    &__title {
        text-align: center;
        color: $white;
        margin-bottom: 10px;
    }
    &__subtitle {
        text-align: center;
        font-weight: $font-weight-bold;
        font-size: $font-size-xll;
        line-height: 1.6;
        color: $white;
        margin-bottom: 20px;
    }
    &__desc {
        width: 62%;
        margin: 0 auto;
        margin-bottom: 30px;
        text-align: center;
        font-weight: $font-weight-light;
        font-size: $font-size-sm-l;
        line-height: 2;
        text-transform: capitalize;
        color: $white;
    }
    &__buttons-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        & > a:not(:last-child) {
            margin-right: 40px;
        }
    }
}
