$dark-gray: #262626;
$Very-dark-gray: #4b4b4b;
$dark: #222;
$white: #fff;
$green: #63C776;
$dark-blue: #161d2f; 
$font-family-main: 'poppins', Arial, Helvetica, sans-serif;
$programs-color-link: #3043A9;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

$font-size-sm: 14px;
$font-size-sm-l: 15px;
$font-size-sm-lx: 16px;
$font-size-md: 18px;
$font-size-md-l: 20px;
$font-size-lg: 24px;
$font-size-lg-l: 28px;
$font-size-l: 30px;
$font-size-xl: 40px; 
$font-size-xl-l: 48px;
$font-size-xll: 62px;




