@import "base/_vars";
@import "base/_shared";
@import "base/_mixins";
@import "base/_normalize";
@import "base/_base";
@import "base/_fonts";
@import "components/header";
@import "components/navigation";
@import "components/main";
@import "components/welcome-club";
@import "components/programs-workouts";
@import "components/nutritions";
@import "components/pricing";

.about {
    padding-top: 100px;

    &__title { 
        text-align: center;
        text-transform: uppercase;
        color: $dark; 
        margin-bottom: 10px;
    }

    &__subtitle {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
        width: 35%;
        text-align: center;
        text-transform: capitalize;
        color: $dark-blue;
    }

    &__row {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center; 
        
    }

    &__col {
        width: 255px;
    }
}

.card-about {
    text-align: center;
    border-right: solid 1px $dark-blue;
       
    &__subtitle {         
        font-weight: $font-weight-bold;
        font-size: $font-size-xl-l;
        line-height: 1.3;
        color: $dark-blue;
    }

    &__desc {       
        font-size: $font-size-md;
        line-height: 1.7;
        color: $dark-blue;
    }
}

