@import "base/_vars";
@import "base/_shared";
@import "base/_mixins";
@import "base/_normalize";
@import "base/_base";
@import "base/_fonts";
@import "components/modules/slick";
@import "components/header";
@import "components/navigation";
@import "components/main";
@import "components/welcome-club";
@import "components/programs-workouts";
@import "components/nutritions";
@import "components/pricing";
@import "components/about";
@import "components/benefits";
@import "components/training-participants";
@import "components/footer";  


 .slick-arrow {
    &::before {
        color: #4b4b4b;
        font-size: 40px;
        opacity: 0.3;
    }
 } 

 .slick-prev {
     left: -40px;
 }
 
.slick-slider {
    max-width: 1200px;
    text-align: center;
    margin: 10px auto;
}





 
